.content-container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.general label {
    display: inline-block;
    width: 200px;
}

/*Poker table styles*/
.poker-table {
    position: relative;
    background-position: center;
    background-size: 100% 100%;
    background-image: url("../../images/poker-table.png");
    background-repeat: no-repeat;
    height: 550px;
    width: 850px;
    float:left;
}

.player1 {
    position: absolute;
    width: 142px;
    height: 93px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin: auto;

    top: 75px;
}

.player2 {
    position: absolute;
    width: 142px;
    height: 93px;
    border-color: black;
    border-style: solid;
    border-width: 2px;

    top: 40px;
    left: 180px;
}

.player3 {
    position: absolute;
    width: 142px;
    height: 93px;
    border-color: black;
    border-style: solid;
    border-width: 2px;

    top: 40px;
    left: 345px;
}

.player4 {
    position: absolute;
    width: 142px;
    height: 93px;
    border-color: black;
    border-style: solid;
    border-width: 2px;

    top: 40px;
    left: 515px;
}

.player5 {
    position: absolute;
    width: 142px;
    height: 93px;
    border-color: black;
    border-style: solid;
    border-width: 2px;

    top: 75px;
    left: 710px;
}

.player6 {
    position: absolute;
    width: 142px;
    height: 93px;
    border-color: black;
    border-style: solid;
    border-width: 2px;

    top: 305px;
    left: 775px;
}

.player7 {
    position: absolute;
    width: 142px;
    height: 93px;
    border-color: black;
    border-style: solid;
    border-width: 2px;

    top: 360px;
    left: 540px;
}

.player8 {
    position: absolute;
    width: 142px;
    height: 93px;
    border-color: black;
    border-style: solid;
    border-width: 2px;

    top: 360px;
    left: 355px;
}

.player9 {
    position: absolute;
    width: 142px;
    height: 93px;
    border-color: black;
    border-style: solid;
    border-width: 2px;

    top: 360px;
    left: 160px;
}

.player10 {
    position: absolute;
    width: 142px;
    height: 93px;
    border-color: black;
    border-style: solid;
    border-width: 2px;

    top: 320px;
}

.board-cards {
    position: absolute;
    width: 430px;
    height: 93px;
    border-color: black;
    border-style: solid;
    border-width: 2px;

    top: 185px;
    left: 210px;
}

.flop {
    float: left;
    margin-right: 40px;
}

.turn {
    float: left;
    margin-right: 40px;
}

.river {
    float: left;
}

.card {
    float: left;
    padding: 1px;
}

.card-back {
    width: 65px;
    height: 85px;

    float: left;
}

.calculate-button {
    position: absolute;

    top: 220px;
    left: 650px;
}
